.logoInChange {
    position: absolute;
    top: 10px;
}

.changeFrame {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 25px;
    border-radius: 15px;
    background-color: gainsboro;
}

.changeFrame h3 {
    font-size: 1.5em;
    text-align: center;
    margin: 10px 0px;
}

.changeFrame form p {
    width: 75%;
    text-align: center;
}